In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
preseason_df = pd.read_csv('wave1Data Preseason.csv')

In [3]:
postseason_df = pd.read_csv('Wave2Data Postseason.csv')

#### PreSeason

In [5]:
#check for duplicates in uuid column

check_dupes = preseason_df.duplicated(subset=['uuid']).any()

In [6]:
check_dupes

False

In [7]:
preseason_df.shape

(1452, 13)

In [8]:
type(preseason_df['Ovr_Sat'][0])

str

#### 1. get rid of text in Ovr_Sat, Team_Sat, Comm_Sat, and Benefit_Sat Columns

In [9]:
string_section = preseason_df[preseason_df['Ovr_Sat'].str.contains('10 -')]
string_section.head()

,uuid,Wave,Section,Row,Age,Gender,Tenure,Ovr_Sat,Team_Sat,Comm_Sat,Comm_Freq,Benefit_Sat,Benefit_Aware
5,c4e9058c,1,114,F,45-54,Male,11-15 season,10 - Extremely satisfied,1 - Not at all satisfied,4,Too Many,NaN,Unaware
7,f26bbe4b,1,93,P,65+,Male,21+ seasons,10 - Extremely satisfied,10 - Extremely satisfied,10 - Extremely satisfied,Just right,7,Aware and have NOT used/received
14,cbd1cc53,1,28,D,55-64,Male,6-10 season,10 - Extremely satisfied,3,3,Too Few,6,Aware and have NOT used/received
20,dcb01035,1,99,K,35-44,Female,2-5 season,10 - Extremely satisfied,3,3,Just Right,6,Aware and have NOT used/received
37,134dfa0d,1,417,K,55-64,Female,21+ seasons,10 - Extremely satisfied,10 - Extremely satisfied,10 - Extremely satisfied,Just right,NaN,Aware and have NOT used/received

In [10]:
#keep only the first 2 characters of string in each of the following columns
preseason_df['Ovr_Sat'] = preseason_df['Ovr_Sat'].str[0:2]
preseason_df['Team_Sat'] = preseason_df['Team_Sat'].str[0:2]
preseason_df['Comm_Sat'] = preseason_df['Comm_Sat'].str[0:2]
preseason_df['Benefit_Sat'] = preseason_df['Benefit_Sat'].str[0:2]

In [11]:
# get rid of leading and trailing spaces in each of the following columns
preseason_df['Ovr_Sat'] = preseason_df['Ovr_Sat'].str.strip()
preseason_df['Team_Sat'] = preseason_df['Team_Sat'].str.strip()
preseason_df['Comm_Sat'] = preseason_df['Comm_Sat'].str.strip()
preseason_df['Benefit_Sat'] = preseason_df['Benefit_Sat'].str.strip()

In [12]:
#set type as float
preseason_df['Ovr_Sat'] = preseason_df['Ovr_Sat'].astype(float)
preseason_df['Team_Sat'] = preseason_df['Team_Sat'].astype(float)
preseason_df['Comm_Sat'] = preseason_df['Comm_Sat'].astype(float)
preseason_df['Benefit_Sat'] = preseason_df['Benefit_Sat'].astype(float)

In [13]:
type(preseason_df['Benefit_Sat'][0])

numpy.float64

In [14]:
#use this code to export to csv
#preseason_df.to_csv('/users/veronicaventure/Documents/bse_preseason_data.csv')

#### PostSeason

#### 1. get rid of text in Ovr_Sat, Team_Sat, Comm_Sat, and Benefit_Sat Columns

In [15]:
check_dupes2 = postseason_df.duplicated(subset=['uuid']).any()
check_dupes2

False

In [16]:
#keep only the first 2 characters of string in each of the following columns
postseason_df['Ovr_Sat'] = postseason_df['Ovr_Sat'].str[0:2]
postseason_df['Team_Sat'] = postseason_df['Team_Sat'].str[0:2]
postseason_df['Comm_Sat'] = postseason_df['Comm_Sat'].str[0:2]
postseason_df['Benefit_Sat'] = postseason_df['Benefit_Sat'].str[0:2]

In [17]:
# get rid of leading and trailing spaces in each of the following columns
postseason_df['Ovr_Sat'] = postseason_df['Ovr_Sat'].str.strip()
postseason_df['Team_Sat'] = postseason_df['Team_Sat'].str.strip()
postseason_df['Comm_Sat'] = postseason_df['Comm_Sat'].str.strip()
postseason_df['Benefit_Sat'] = postseason_df['Benefit_Sat'].str.strip()

In [18]:
#set type as float
postseason_df['Ovr_Sat'] = postseason_df['Ovr_Sat'].astype(float)
postseason_df['Team_Sat'] = postseason_df['Team_Sat'].astype(float)
postseason_df['Comm_Sat'] = postseason_df['Comm_Sat'].astype(float)
postseason_df['Benefit_Sat'] = postseason_df['Benefit_Sat'].astype(float)

In [19]:
postseason_df.head()

,uuid,Wave,Section,Row,Age,Gender,Tenure,Ovr_Sat,Team_Sat,Comm_Sat,Comm_Freq,Benefit_Sat,Benefit_Aware
0,8727635c,2,187,U,45-54,Male,1 season,8.0,6.0,9.0,Just right,10.0,Aware and have used/received
1,039ec870,2,459,BB,55-64,Male,11-20 season,5.0,1.0,5.0,Too few,8.0,Aware and have NOT used/received
2,0285d1ef,2,452,X,65+,Female,21+ seasons,10.0,8.0,10.0,Just right,NaN,Unaware
3,9493589e,2,1,Z,45-54,Female,6-10 season,10.0,6.0,2.0,Just Right,NaN,Unaware
4,d7e0f721,2,410,E,55-64,Male,21+ seasons,5.0,4.0,9.0,Just right,8.0,Aware and have used/received

In [20]:
#use code to export to csv
#postseason_df.to_csv('/users/veronicaventure/Documents/bse_postseason_data.csv')

In [22]:
pre_post_df = pd.concat([preseason_df, postseason_df], ignore_index=True, axis=0)

In [23]:
#use code to export to csv
#pre_post_df.to_csv('/users/veronicaventure/Documents/bse_pre_post_data.csv')